.projectPage {
  max-width: 1100px;
  margin: 30px auto;
  color: #222;
  line-height: 1.6;
  animation: fadeIn 1s ease-in-out;

  border-left: 16px solid #076686;
  padding-left: 80px;
}

.projectPage h1 {
  font-size: 2.3rem;
  color: #1f90b6;
  margin-bottom: 10px;
}

.projectPage h2 {
  color: #333;
  margin-top: 25px;
}

.projectPage ul {
  list-style: disc;
  margin-left: 25px;
}

.projectPage p, .projectPage li {
  font-size: 1rem;
}

 .back {
    width: 200px;
    height: 45px;
    border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #1f90b6;
  font-weight: 600;
  transition: all 0.4s ease-in;
}

 .back:hover {
  color: #147895;
  box-shadow: 2px 4px 10px gray;
}

.projectPage .git {
  display: inline-block;
  margin-top: 25px;
  text-decoration: none;
  background-color: #006b8f;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.projectPage .git:hover {
  background-color: #147895;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* 📱 адаптация */
@media (max-width: 768px) {
  .projectPage {
    padding: 15px;
  }
  .projectPage h1 {
    font-size: 1.8rem;
  }
}
